body {
    background-color: #135D66;
}

nav {
    background-color: #003C43;
}

.container-fluid a {
    color: #E3FEF7;
}

.container-fluid a:hover {
    color: #E3FEF7;
}

footer {
    background-color: #003C43;
}
footer li a{
    text-decoration: none;
    color: #E3FEF7;
}